
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ===================================================================
- 상단메뉴 설정
=================================================================== */
.setting-page__head{
  display: grid;
  grid-template-columns: 14% 14% 18% 18% 14% 7% 7%;
  grid-gap: 0.625rem;
  grid-auto-rows: minmax(100px, auto);
  background-color: #D5DCE5;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.setting-page__head .title{
  display: block;
  grid-column: 3/5;
  grid-row: 1;
  text-align: center;
}
.setting-page__head .back-button{
  display: block;
  grid-column: 1;
  grid-row: 1;
  width: 3rem;
  height: 3rem;
  border: 0px;
  margin: auto;
  border-radius: 10%;
  font-size: 2.5rem;
}
.setting-page__head__navigation{
  display: block;
  width: 9rem;
  height: 2rem;
  border: 0px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 10%;
  font-size: 1.5rem;
  transition: 0.1s;
}
.setting-page__head__mode_button{
  grid-column: 3;
  grid-row: 2;
}
.setting-page__head__schedule_button{
  grid-column: 4;
  grid-row: 2;
}
.setting-page__head .delete-button{
  display: block;
  grid-column: 6;
  grid-row: 1;
  width: 3rem;
  height: 3rem;
  border: 0px;
  margin: auto;
  border-radius: 10%;
  font-size: 2.5rem;
}
.setting-page__head .save-button{
  display: block;
  grid-column: 7;
  grid-row: 1;
  width: 3rem;
  height: 3rem;
  border: 0px;
  margin: auto;
  border-radius: 10%;
  font-size: 2.5rem;
}



/* ===================================================================
- 제어부 모드 아이콘 버튼 설정
=================================================================== */
.setting-page__head__mode{
  display: block;
  width: 5rem;
  height: 5rem;
  border: 0px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 10%;
  font-size: 2.5rem;
  transition: 0.1s;
}
.setting-page__head__mode img{
  width: 3rem;
  height: 3rem;
}
.setting-page__head__mode1{
  grid-column: 3;
  grid-row: 2;
}
.setting-page__head__mode2{
  grid-column: 4;
  grid-row: 2;
}
.setting-page__head__mode3{
  grid-column: 5;
  grid-row: 2;
}
.setting-page__head__mode4{
  grid-column: 6;
  grid-row: 2;
}

/* ===================================================================
- 제어부 전체틀 설정
=================================================================== */
.setting-page__box{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
}
.setting-page__box__left{
  float: left;
  width: 50%;
  height: 32.5rem;
  padding: 0px;
  text-align: center;
  overflow : scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
.setting-page-user{
  float: right;
  width: 50%;
  padding: 3rem;
  text-align: center;
  background-color: white;
}

.alarm_list_table{
  margin: 0 0;
  border: 0px solid white;
  text-align: left;
  overflow: scroll;
}
.alarm_list_table td{
  border: 0px;
  padding-left: 1rem;
}
.alarm_list_checkbox{
  zoom: 1.5;
}
.alarm_list_button{
  background-color: white;
  border: 0px solid;
  text-align: left;
  padding: 1rem;
  width: 18.5rem;
}
.alarm_list_date{
  font-size: small;
  color: gray;
}
.alarm_list_title{
  font-size: medium;
  color: black;
}




/* ===================================================================
- 제어부분 상세 설정
=================================================================== */
.appliance_img{
  width: 3rem;
  height: 3rem;
}
.alarmlist_item_inform{
  font-size: large;
}
.alarmlist_item_date{
  font-size: small;
  color: gray;
}
.appliance_inform_td{
  width: 25rem;
}


.setting-page-user div.togglebox{
  width: 50%;
  line-height: 200%;
  display: inline-block;
}
.setting-page-user div.togglebox_name{
  float: left;
}
.setting-page-user div.togglebox_input{
  float: right;
  padding-top: 0.5rem;
}
