/*
.sign-up {
    display:'inline-block';
    width: 90%;
    height: 90%;
    position: relative;
    margin: 0px auto;
    align-items: center;
}
*/
.sign-up__box{
    padding-left: 19rem;
    padding-right: 19rem;
    padding-top: 7rem;
    height: 70%;
    text-align: center;
    display: block;
}

.button__box{
    width: 100%;
    height: 30%;
    padding: 3%;
    text-align: center;
    display: inline-block;
}

