/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v99/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24dp;
    line-height: 100%;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}  
 
body{
    background-color: #bda5a5;
}
.sign-in, .sign-up, .home, .mode-setting{
    display:'inline-block';
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px auto;
    align-items: center;
    background-color: white;
}

  /* 라디오버튼 설정 */
  input[type='radio'] {
    -webkit-appearance:none;
    width:50px;
    height:50px;
    /* border: 5px solid red; */
    border-radius:50%;
    outline:none;
    background:#e6e6e6;
  }
  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;  
    border-radius:50%;
  }

  .color-white:checked{
    background:white;
        filter: drop-shadow(0px 0px 5px lightgray);
  }
  .color-red:checked{
    background:red;
        filter: drop-shadow(0px 0px 5px red);
  }
  .color-blue:checked{
    background:blue;
        filter: drop-shadow(0px 0px 5px blue);
  }
  .color-green:checked{
    background:green;  
      filter: drop-shadow(0px 0px 5px green);
  }
  .color-yellow:checked{
    background:yellow;
    filter: drop-shadow(0px 0px 5px yellow);
  }
  .color-purple:checked{
    background:purple; 
       filter: drop-shadow(0px 0px 5px purple);
  }
  .color-orange:checked{
    background:orange;   
     filter: drop-shadow(0px 0px 5px orange);
  }
  .color-skyblue:checked{
    background:skyblue;   
     filter: drop-shadow(0px 0px 5px skyblue);
  }

  .color-white:before{
    background:white
}
  .color-red:before{
    background:red;
  }
  .color-blue:before{
    background:blue;
  }
  .color-green:before{
    background:green;
  }
  .color-yellow:before{
    background:yellow;
  }
  .color-purple:before{
    background:purple;
  }
  .color-orange:before{
    background:orange;
  }
  .color-skyblue:before{
    background:skyblue;
  }


.button {
  background-color: cornflowerblue; /* Blue */
  border: none;
  border-radius: 2%;
  color: white;
  padding: 4% 15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.button:hover {
	opacity: 1;
}

.input{
    background:transparent; 
    border:none; 
    border-bottom: solid 1px #ccc; 
    padding:20px 0px 5px 0px;
    font-size:14pt; 
    width: 100%;
    height: 110px;
}
.input::placeholder{
    color:transparent; 
}
.input:placeholder-shown + label{ 
    color:#aaa; 
    font-size:14pt; 
    top:15px; 
}
.input:focus + label, label{ 
    color:#8aa1a1; 
    font-size:10pt; 
    pointer-events: none; 
    position: absolute; 
    left:0px; 
    top:0px; 
    transition: all 0.2s ease ; 
    -webkit-transition: all 0.2s ease; 
    -moz-transition: all 0.2s ease; 
    -o-transition: all 0.2s ease; 
}
.input:focus, input:not(:placeholder-shown){ 
    border-bottom: solid 1px #8aa1a1; 
    outline:none; 
}


.input-box{ 
    position:relative; 
    margin:10px 0; 
}
.input-box input{
    background:transparent; 
    border:none; 
    border-bottom: solid 1px #ccc; 
    padding:20px 0px 5px 0px;
    font-size:14pt; 
    width: 100%;
    height: 110px;
}
.input-box input::placeholder{
    color:transparent; 
}
.input-box input:placeholder-shown + label{ 
    color:#aaa; 
    font-size:14pt; 
    top:15px; 
}
.input-box input:focus + label, label{ 
    color:#8aa1a1; 
    font-size:10pt; 
    pointer-events: none; 
    position: absolute; 
    left:0px; 
    top:0px; 
    transition: all 0.2s ease ; 
    -webkit-transition: all 0.2s ease; 
    -moz-transition: all 0.2s ease; 
    -o-transition: all 0.2s ease; 
}
.input-box input:focus, input:not(:placeholder-shown){ 
    border-bottom: solid 1px #8aa1a1; 
    outline:none; 
}
