/* ===================================================================

  - 페이지 전체 설정

=================================================================== */
.sign-in__head{
    position: relative;
    display: flex;
    height: 10%;
}
.sign-in__head h3{
    width: 50%;
    text-align: center;
}
.sign-in__box{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
}
.face-recognation{
    float: left;
    width: 100%;
    height: 100%;
    padding: 3%;
    text-align: center;
}
.email{
    float: right;
    width: 100%;
    height: 100%;
    padding: 3%;
    text-align: center;
}
.face-recognation__box .email__box{
    padding: 100%;
    padding-top: 10%;
}
.face-recognation__box button{
    position: relative;
    width: 90%;
    padding-bottom: 90%;
}
.face-button-icon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    width: 60%;
    height: 60%;
}
